.columns > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  box-sizing: border-box;
  order: 1;
  padding: 28px;
  border: 1px solid var(--border-color);
  border-radius: 0;
  background: var(--surface-color);
}

.columns li::marker {
  color: var(--link-color);
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
